.navbar{
    background-color: blueviolet;
    height: 120px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


.link{
    color: white;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none; 
    font-weight:bold;  
}

.loginDetails{
    color: white;
    display: flex;
    justify-content: center;
}

.profilePic{
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.signOutButton{
    border-radius: 10px;
    height: 30px;
    background-color: yellow;
    opacity: 0.8;
    margin-top: 10px;
    margin-right: 20px;
}
.signOutButton:hover{
    cursor: pointer;
}

u{
    text-underline-offset: 10px;
}

.navBarTitle{
padding-right: 50%;
color: white;
font-size: 40px;
font-weight: bolder;
text-decoration: none;
}